header {
	background-color: lightblue;
}

footer {
	background-color: lightblue;
}

.project-title {
	color: darkgreen;
}

a {
	text-decoration: none;
}

a:link {
	color: black;
}

a:visited {
	color: darkblue;
}