<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}QandA{% endblock %}</title>

	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'QandA/base.css' %}">

	{% block head %}
	{% endblock %}
</head>
<body>
	<main>
		<header>
			{% if user.is_authenticated %}
				<p>Hi <a href="{% url 'users:profile' user.id %}">{{ user.username }}</a>!
				 | <a href="{% url 'logout' %}">logout</a></p>
			{% else %}
				<a href="{% url 'login' %}">login</a> | 
				<a href="{% url 'users:signup' %}"> signup</a> |
				<a href="{% url 'password_reset' %}"> reset password</a>
			{% endif %}
		</header>
		<h1 class="project-title"><a href="{% url 'posts:index' %}">QandA</a></h1>
		{% block content %}
		{% endblock %}
		<footer>
			<a href="{% url 'posts:index' %}">Return to index</a>
		</footer>
	</main>
</body>
</html>
