{% extends 'base.html' %}

{% block title %}{{ question }}{% endblock %}

{% block content %}
<h1>{{ question.question_text }}</h1>
<h2>{{ question.detail_text }}</h2>

{% if question.author.id == request.user.id and request.user.id != None %}
<form action="{% url 'posts:delete_question' %}" method="post">
{% csrf_token %}
	<input type="hidden" name="question" value="{{ question.id }}">
	<input type="submit" value="Delete Question">
</form>
{% endif %}

{% if question.author %}
	<p>Author: {{ question.author.username }}</p>
{% else %}
	<p>Author: Anonymous</p>
{% endif %}

{% if answers %}
	<ol>
		{% for answer in answers %}
			{% if answer.author.username %}
				<li>
					{{ answer.answer_text }} | by {{ answer.author.username }}
					{% if request.user.id == answer.author.id and request.user.id != None %}
						<form action="{% url 'posts:delete_answer' question.id %}" method="post">
						{% csrf_token %}
							<input type="hidden" name="answer" value="{{ answer.id }}">
							<input type="submit" value="Delete Answer">
						</form>
					{% endif %}
				</li>
			{% else %}
				<li>{{ answer.answer_text }} | by Anonymous</li>
			{% endif %}
		{% endfor %}
	</ol>
{% else %}
	<p>No answers are available</p>
{% endif %}

<form action="{% url 'posts:save_answer' question.id %}" method="post">
{% csrf_token %}
	Add answer: <input type="text" name="answer">
	<input type="submit" value="Submit">
</form>

<a href="{% url 'posts:index' %}">Return to index</a>

{% endblock %}